<nav class="header">
    <div class="books"><img class="img" src="assets/img/My Books.png" alt=""></div>
   <ul class="listNav">
    <li><a class="routing" routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a class="routing" routerLink="register" routerLinkActive="active">Register</a></li>
    <li><a class="routing" routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li><a class="routing" routerLink="books" routerLinkActive="active">Books</a></li>
    <li><a class="routing" routerLink="addBook" routerLinkActive="active">AddBook</a></li>
    <li><a class="routing" routerLink="updateBook" routerLinkActive="active">UpdateBook</a></li>
    <li><a class="routing" routerLink="login" routerLinkActive="active">Login</a></li>
   </ul>
</nav>
