.fondo{
   background-image: url(src/assets/img/libros.png);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   height: 86vb;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   
}


.texto{
    font-family: 'Lobster', cursive;
    height: 100%;
    width: 100%;
    font-size: 280px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 20px whitesmoke;
    background-color: rgba(0, 0, 0, 0.66);
   
}